html {
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: "Lato",sans-serif;
}
body {
    border: 0px none;
    margin: 0px;
    padding: 0px;
	height: 100%;
}
.topbar {
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 64px;
    background-color: #EDEDED;
    border-bottom: 1px solid #B2B2B2;
}
.workspace-heading {
    padding: 15px 0 0 32px;
	font-size: 150%;
	cursor: pointer;
}
.application {
    display: flex;
    flex-direction: row;
	height:100%;
}
.sidebar {
    width: 20%;
	min-height: 100%;
	height: auto;
	height: 100%;
    position: relative;
    background-color: #190C21;
	color: #FFF;
	font-family: "Lato","Helvetica","Arial",sans-serif;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
.logo {
	font-family: "Lobster","Helvetica","Arial",sans-serif;
    flex: 0 1 auto;
	font-size: 120%;
    width: 48px;
    height: 48px;
    margin: 8px;	
}
.sideButton {
width:100%;
}
.buttonCollapse {
position: absolute;
cursor: pointer;
z-index: 1;
font-size: 26px;
right: 0px;
top: 76px;
padding: 2px 6px;
border-radius: 3px 0px 0px 3px;
color: #FFF;
background-color: #72BDBB;
}
.view {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
.Data {
    margin: 32px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
	height:100%;
}
#exportFile {
display:none;
}
