html {
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: "Lato",sans-serif;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
		
	
}
body {
background-color: #221A26;
    border: 0px none;
    margin: 0px;
    padding: 0px;
	height: 100%;
	overflow:auto;
}
.countainer {
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: #EDEDED;
    border-bottom: 1px solid #B2B2B2;
}

.workspace-heading {
    padding: 15px 0 20px 32px;
	font-size: 150%;
	margin-bottom:16px;
	cursor: pointer;
	width:100%;
	height:8%;
}
.application {
    display: flex;
    flex-direction: row;
	height:100%;
	width:100%;
}	
.sidebar {
    width: 20%;
	min-height: 100%;
	height: auto;
	height: 100%;
    position: relative;
    background-color: #190C21;
	color: #FFF;
	font-family: "Lato","Helvetica","Arial",sans-serif;
}
.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
	font-size: 150%;
}

.sidebar-nav li {
    display: block;
    text-decoration: none;
	padding-top:25px;
	text-align:center;	
}

.sidebar-nav li a {
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
	font-size: 120%;
}
.logo-container .logo {
	font-family: "Lobster","Helvetica","Arial",sans-serif;
    flex: 0 1 auto;	
    width: 48px;
    height: 48px;
    margin: 8px;	
}
.logo a {
    display: block;
    color: light-blue;
	text-align:center;
	font-size: 150%;
}

}
.view {
height: 100%;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
}
.Data {
	padding:15px 0 0 32px;
	height: auto;
	height: 92%;
	width:100%;
	overflow:scroll;
	background-color:white;
	position:relative;
}

.form {
width: 80%;
max-width: 210px;
margin: 0px auto;
padding: 80px 16px;
color:white;
}

.form input{
color:black;
}

.form  .logo {
	font-family: "Lobster","Helvetica","Arial",sans-serif;
    flex: 0 1 auto;	
}

.bg-info {
	width:86%;
	margin: 16px 0px;
    border-color: #619B98;
    background-color: #72BDBB;
	height: 36px;
	padding: 2px 8px;
	border-width: 0px 2px 2px 0px;
	border-style: solid;
	border-radius: 2px;
	color: #FFF;
	font-size: 12px;
	line-height: 32px;
	letter-spacing: 1px;
	transition: background-color 0s ease 0s, all 0.2s ease 0s;
}
#exportFile {
display:none;
}
